body {
  position: absolute;
}
.bg__img-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/114.jpg');
  background-size: 100%;
  filter: blur(2px);
  opacity: 0.8;
  z-index: -1;
}
.bg__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('../img/be275165.jpg');
  background-size: cover;
  filter: blur(5px);
  opacity: 0.8;
  z-index: -1;
}
.gallery__img {
  position: relative;
  padding: 20px 0 10px 0;
  margin: 0 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: none;
}
.gallery__img-item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 310px;
  height: 210px;
  border: 1px solid rgba(188, 193, 196, 0.897);
  border-radius: 5px;
  box-shadow: 2px 0px 12px rgba(182, 190, 192, 0.521);
}
.img__item {
  object-fit: contain;
  max-width: 300px;
  max-height: 200px;
  padding: 0;
  box-shadow: 2px 2px 12px rgba(1, 154, 192, 0.192);
  border-radius: 1px;
}
.user__wrapper {
  text-align: center;
  margin: 60px 15px 15px 15px;
}
.button__wrapper {
  display: flex;
  justify-content: space-around;
}
.btn__wrap {
  margin: 0 5px 0 5px;
}
.sort__icon-wrapper {
  position: absolute;
}
.sort__icon {
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 3px;
  background-color: rgba(112, 112, 112, 0.459);
  width: 30px;
  text-align: center;
  /* align-items: flex-start; */
  cursor: pointer;
  position: absolute;
  left: 40px;
  bottom: -10px;
  font-size: 20px;
  /* margin: 0; */
  z-index: 5;
  color: azure;
}
.sort__icon:hover {
  color: rgb(0, 255, 200);
  background-color: rgb(0, 71, 48);
  box-shadow: 0px 0px 10px rgb(0, 255, 174);
}
.delete__icon {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 5;
  color: azure;
}
.delete__icon:hover {
  color: rgb(0, 255, 200);
}
.main__btn-wrapper {
  margin-top: 60px;
  text-align: center;
}
.login_wrapper,
.reg_wrapper {
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 5px;
  margin: 40px auto;
  padding: 5px;
  width: 600px;
  text-align: center;
}

.login_input {
  margin: 2px;
}
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .login_wrapper,
  .reg_wrapper {
    width: 75%;
  }
  .user__wrapper,
  .main__btn-wrapper {
    margin: 15px;
  }
  .main__btn-wrapper {
    margin-top: 35px;
  }
}
