<template>
  <div>
    <div class="sort__icon-wrapper">
      <span class="sort__icon">
        <!-- <a-space> -->
        <sort-ascending-outlined v-if="isReverse" @click="handleReverse" />
        <sort-descending-outlined v-else @click="handleReverse" />
        <!-- </a-space> -->
      </span>
    </div>
    <div class="gallery__img">
      <div v-if="!gallery.length">Галерея пуста</div>
      <div
        class="gallery__img-wrapper"
        v-for="(item, idx) in isReverse ? gallery.slice().reverse() : gallery"
        :key="idx"
      >
        <Image
          :image="item"
          @handleDeleteImage="handleDeleteImageFromGallery"
        />
      </div>
    </div>
  </div>
</template>
<script>
import {
  SortAscendingOutlined,
  SortDescendingOutlined,
} from '@ant-design/icons-vue';
import Image from '@/components/Image.vue';
import { ref } from '@vue/reactivity';
export default {
  components: { Image, SortAscendingOutlined, SortDescendingOutlined },
  props: {
    gallery: {
      type: Array,
      required: true,
    },
  },
  emits: ['handleDelete'],
  setup(props, { emit }) {
    const imgGallery = props.gallery;
    const isReverse = ref(false);
    const handleReverse = () => {
      isReverse.value = !isReverse.value;
    };
    const handleDeleteImageFromGallery = (id) => {
      emit('handleDelete', id);
    };
    return {
      handleDeleteImageFromGallery,
      imgGallery,
      isReverse,
      handleReverse,
    };
  },
};
</script>
<style></style>
