<template>
  <div class="gallery__img-item-wrapper">
    <div class="bg__img-item"></div>
    <a-image
      class="img__item"
      :src="`data:${image.fileType}; base64, ${image.buffer}`"
    />
    <span class="delete__icon" @click="handleDelete(image.uniqId)"
      ><a-space><delete-outlined /></a-space
    ></span>
  </div>
</template>
<script>
import { DeleteOutlined } from '@ant-design/icons-vue';
export default {
  components: { DeleteOutlined },
  props: {
    image: { type: Object },
  },
  emits: ['handleDeleteImage'],
  setup(_, { emit }) {
    const handleDelete = (id) => {
      emit('handleDeleteImage', id);
    };
    return {
      handleDelete,
    };
  },
};
</script>
<style></style>
