<template>
  <div class="main__btn-wrapper">
    <a-space>
      <a-button type="primary" @click="handleLoginClick"
        >Страница входа</a-button
      >
      <a-button type="primary" danger @click="handleRegistrationClick"
        >Страница регистрации</a-button
      >
    </a-space>
  </div>
</template>
<script>
import { useRouter } from 'vue-router';
export default {
  setup() {
    const router = useRouter();
    const handleLoginClick = () => {
      router.push({ name: 'login' });
    };
    const handleRegistrationClick = () => {
      router.push({ name: 'registration' });
    };
    return {
      handleLoginClick,
      handleRegistrationClick,
    };
  },
};
</script>
<style></style>
