<template>
  <div>
    <div>
      <div class="user__wrapper">
        Картинки
        <div class="button__wrapper">
          <input
            type="file"
            name=""
            id="file-input"
            accept="image/*"
            v-if="!isLoading"
          />
          <a-button
            type="primary"
            @click="handleFileUploadClick"
            class="btn__wrap"
            :loading="isLoading"
            >{{ isLoading ? 'Обновление данных' : 'Добавить' }}</a-button
          >
          <a-button
            type="primary"
            @click="handleLogoutClick"
            class="btn__wrap"
            danger
            ghost
            :disabled="isLoading"
            >Выйти</a-button
          >
        </div>
      </div>
      <Gallery
        :gallery="userGalleryData.length ? userGalleryData : []"
        v-if="!isLoading"
        @handleDelete="onHandleDelete"
      />
    </div>
  </div>
</template>
<script>
import {
  delLocalStorage,
  getLocalStorage,
} from '@/utils/localStorage/index.js';
import { computed, onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import {
  fetchingGallery,
  removeImage,
  uploadImage,
} from '@/utils/fetch/index.js';
import { UploadOutlined } from '@ant-design/icons-vue';
import Gallery from '@/components/Gallery.vue';
import { message } from 'ant-design-vue';
import { useStore } from 'vuex';
export default {
  components: { Gallery, UploadOutlined },
  setup() {
    const router = useRouter();
    const store = useStore();
    const user = router.currentRoute._value.params.user;
    const token = getLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY);
    const isLoading = ref(false);
    const userGalleryData = computed(() => {
      return store.getters.getImages;
    });
    const handleFileUploadClick = async () => {
      // isLoading.value = true;
      const fileInput = document.querySelector('#file-input');
      // console.log(fileInput.files);
      if (!fileInput.files.length) {
        // isLoading.value = false;
        return message.error('Файлы не выбраны');
      }
      const formData = new FormData();
      formData.append('attachedFile', fileInput.files[0]);
      const image = await uploadImage(user, formData, token);
      if (!image) {
        return message.error('Что-то пошло не так, хз что...');
      }
      fileInput.value = null;
      store.dispatch('addImage', image);
      // isLoading.value = false;
    };
    const onHandleDelete = async (id) => {
      // isLoading.value = true;
      store.dispatch('removeImage', id);
      await removeImage(user, id, token);
      // const gallery = await fetchingGallery(user, token);
      // userGalleryData.value = await gallery;
      // isLoading.value = false;
    };
    onMounted(async () => {
      isLoading.value = true;
      const gallery = await fetchingGallery(user, token);
      store.dispatch('setImages', gallery);
      isLoading.value = false;
    });
    const handleLogoutClick = () => {
      delLocalStorage(process.env.VUE_APP_LOCAL_STORAGE_KEY);
      router.push({ name: 'home' });
    };
    return {
      isLoading,
      userGalleryData,
      handleFileUploadClick,
      handleLogoutClick,
      onHandleDelete,
    };
  },
};
</script>
<style></style>
